In [ ]:
!pip install konlpy
!pip install koreanize-matplotlib
!pip install wordcloud

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: konlpy in /usr/local/lib/python3.9/dist-packages (0.6.0)
Requirement already satisfied: JPype1>=0.7.0 in /usr/local/lib/python3.9/dist-packages (from konlpy) (1.4.1)
Requirement already satisfied: numpy>=1.6 in /usr/local/lib/python3.9/dist-packages (from konlpy) (1.22.4)
Requirement already satisfied: lxml>=4.1.0 in /usr/local/lib/python3.9/dist-packages (from konlpy) (4.9.2)
Requirement already satisfied: packaging in /usr/local/lib/python3.9/dist-packages (from JPype1>=0.7.0->konlpy) (23.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: koreanize-matplotlib in /usr/local/lib/python3.9/dist-packages (0.1.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.9/dist-packages (from koreanize-matplotlib) (3.7.1)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->koreanize-matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->koreanize-matplotlib) (8.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib->koreanize-matplotlib) (3.0.9)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.9/dist-packages (from matplotlib->koreanize-matplotlib) (1.22.4)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib->koreanize-matplotlib) (1.0.7)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.9/dist-packages (from matplotlib->koreanize-matplotlib) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->koreanize-matplotlib) (4.39.3)
Requirement already satisfied: importlib-resources>=3.2.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->koreanize-matplotlib) (5.12.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.9/dist-packages (from matplotlib->koreanize-matplotlib) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib->koreanize-matplotlib) (1.4.4)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.9/dist-packages (from importlib-resources>=3.2.0->matplotlib->koreanize-matplotlib) (3.15.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.7->matplotlib->koreanize-matplotlib) (1.16.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: wordcloud in /usr/local/lib/python3.9/dist-packages (1.8.2.2)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.9/dist-packages (from wordcloud) (3.7.1)
Requirement already satisfied: pillow in /usr/local/lib/python3.9/dist-packages (from wordcloud) (8.4.0)
Requirement already satisfied: numpy>=1.6.1 in /usr/local/lib/python3.9/dist-packages (from wordcloud) (1.22.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.9/dist-packages (from matplotlib->wordcloud) (0.11.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->wordcloud) (23.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib->wordcloud) (1.0.7)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->wordcloud) (4.39.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib->wordcloud) (1.4.4)
Requirement already satisfied: importlib-resources>=3.2.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->wordcloud) (5.12.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib->wordcloud) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.9/dist-packages (from matplotlib->wordcloud) (2.8.2)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.9/dist-packages (from importlib-resources>=3.2.0->matplotlib->wordcloud) (3.15.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.7->matplotlib->wordcloud) (1.16.0)

In [ ]:
import numpy as np
import pandas as pd
import re

import konlpy

import plotly.express as px
import matplotlib.pyplot as plt
import koreanize_matplotlib
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/KDT /찐찐최종본_졸업생의 취업 현황 (대학)_.csv')
df

,기준연도,학교종류,설립구분,지역,상태,학교명,단과대학,학과(전공),구분,학과특성,...,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53
0,2021.0,대학교,사립,경남,기존,가야대학교(김해),단과대구분없음,간호학과,주간,일반과정,...,95.8,88.3,70.0,89.8,85.2,60.0,87.3,82.0,60.0,83.9
1,2021.0,대학교,사립,경남,기존,가야대학교(김해),단과대구분없음,경찰행정학과,주간,일반과정,...,100.0,55.6,60.0,50.0,33.3,60.0,0.0,33.3,60.0,0.0
2,2021.0,대학교,사립,경남,기존,가야대학교(김해),단과대구분없음,귀금속주얼리학과,주간,일반과정,...,87.5,60.0,50.0,62.5,50.0,50.0,50.0,40.0,50.0,37.5
3,2021.0,대학교,사립,경남,기존,가야대학교(김해),단과대구분없음,물리치료학과,주간,일반과정,...,100.0,97.0,93.3,100.0,84.8,80.0,88.9,81.8,80.0,83.3
4,2021.0,대학교,사립,경남,기존,가야대학교(김해),단과대구분없음,방사선학과,주간,일반과정,...,100.0,79.3,73.3,85.7,69.0,66.7,71.4,62.1,60.0,64.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9779,2021.0,대학교,사립,경기,기존,화성의과학대학교,단과대구분없음,뷰티디자인학과,주간,일반과정,...,50.0,33.3,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9780,2021.0,대학교,사립,경기,기존,화성의과학대학교,단과대구분없음,사회복지학과,주간,일반과정,...,0.0,88.9,88.9,0.0,77.8,77.8,0.0,77.8,77.8,0.0
9781,2021.0,대학교,사립,경기,기존,화성의과학대학교,단과대구분없음,생명공학과,주간,일반과정,...,0.0,100.0,100.0,0.0,100.0,100.0,0.0,100.0,100.0,0.0
9782,2021.0,대학교,사립,경기,기존,화성의과학대학교,단과대구분없음,스포츠과학과,주간,일반과정,...,100.0,75.0,66.7,100.0,75.0,66.7,100.0,75.0,66.7,100.0
9783,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df['총졸업자'] = df['M졸업자'] + df['W졸업자']
df

,기준연도,학교종류,설립구분,지역,상태,학교명,단과대학,학과(전공),구분,학과특성,...,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,총졸업자
0,2021.0,대학교,사립,경남,기존,가야대학교(김해),단과대구분없음,간호학과,주간,일반과정,...,88.3,70.0,89.8,85.2,60.0,87.3,82.0,60.0,83.9,159.0
1,2021.0,대학교,사립,경남,기존,가야대학교(김해),단과대구분없음,경찰행정학과,주간,일반과정,...,55.6,60.0,50.0,33.3,60.0,0.0,33.3,60.0,0.0,19.0
2,2021.0,대학교,사립,경남,기존,가야대학교(김해),단과대구분없음,귀금속주얼리학과,주간,일반과정,...,60.0,50.0,62.5,50.0,50.0,50.0,40.0,50.0,37.5,15.0
3,2021.0,대학교,사립,경남,기존,가야대학교(김해),단과대구분없음,물리치료학과,주간,일반과정,...,97.0,93.3,100.0,84.8,80.0,88.9,81.8,80.0,83.3,45.0
4,2021.0,대학교,사립,경남,기존,가야대학교(김해),단과대구분없음,방사선학과,주간,일반과정,...,79.3,73.3,85.7,69.0,66.7,71.4,62.1,60.0,64.3,36.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9779,2021.0,대학교,사립,경기,기존,화성의과학대학교,단과대구분없음,뷰티디자인학과,주간,일반과정,...,33.3,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0
9780,2021.0,대학교,사립,경기,기존,화성의과학대학교,단과대구분없음,사회복지학과,주간,일반과정,...,88.9,88.9,0.0,77.8,77.8,0.0,77.8,77.8,0.0,23.0
9781,2021.0,대학교,사립,경기,기존,화성의과학대학교,단과대구분없음,생명공학과,주간,일반과정,...,100.0,100.0,0.0,100.0,100.0,0.0,100.0,100.0,0.0,9.0
9782,2021.0,대학교,사립,경기,기존,화성의과학대학교,단과대구분없음,스포츠과학과,주간,일반과정,...,75.0,66.7,100.0,75.0,66.7,100.0,75.0,66.7,100.0,5.0
9783,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
college_df = df.loc[:, ['지역','학교명','총졸업자','취업률(%)\n[B/{A-(C+D+E+F+G)x100']]
college_df

       지역        학교명   총졸업자  취업률(%)\n[B/{A-(C+D+E+F+G)x100
0      경남  가야대학교(김해)  159.0                           82.2
1      경남  가야대학교(김해)   19.0                           52.6
2      경남  가야대학교(김해)   15.0                           83.3
3      경남  가야대학교(김해)   45.0                           83.7
4      경남  가야대학교(김해)   36.0                           82.9
...   ...        ...    ...                            ...
9779   경기   화성의과학대학교    6.0                           83.3
9780   경기   화성의과학대학교   23.0                           52.2
9781   경기   화성의과학대학교    9.0                           28.6
9782   경기   화성의과학대학교    5.0                           80.0
9783  NaN        NaN    NaN                            NaN

[9784 rows x 4 columns]

In [ ]:
college_df_local = df.loc[:, ['지역','학교명']]

In [ ]:
college_df_local

       지역        학교명
0      경남  가야대학교(김해)
1      경남  가야대학교(김해)
2      경남  가야대학교(김해)
3      경남  가야대학교(김해)
4      경남  가야대학교(김해)
...   ...        ...
9779   경기   화성의과학대학교
9780   경기   화성의과학대학교
9781   경기   화성의과학대학교
9782   경기   화성의과학대학교
9783  NaN        NaN

[9784 rows x 2 columns]

In [ ]:
college_df_local= college_df_local.drop_duplicates()
college_df_local

       지역           학교명
0      경남     가야대학교(김해)
12     경기         가천대학교
75     강원      가톨릭관동대학교
147    충북     가톨릭꽃동네대학교
149    경기        가톨릭대학교
...   ...           ...
9633   전북         호원대학교
9702   서울         홍익대학교
9744   세종  홍익대학교 _제2캠퍼스
9775   경기      화성의과학대학교
9783  NaN           NaN

[226 rows x 2 columns]

In [ ]:
# college_df_local['학교명'] = college_df['학교명'].str.split('(').str.get(0).str.strip()
# college_df_local['학교명']

In [ ]:
# 마지막 행 NaN 데이터 삭제하기
college_df = college_df.iloc[:-1]
college_df

      지역        학교명   총졸업자  취업률(%)\n[B/{A-(C+D+E+F+G)x100
0     경남  가야대학교(김해)  159.0                           82.2
1     경남  가야대학교(김해)   19.0                           52.6
2     경남  가야대학교(김해)   15.0                           83.3
3     경남  가야대학교(김해)   45.0                           83.7
4     경남  가야대학교(김해)   36.0                           82.9
...   ..        ...    ...                            ...
9778  경기   화성의과학대학교   16.0                           56.3
9779  경기   화성의과학대학교    6.0                           83.3
9780  경기   화성의과학대학교   23.0                           52.2
9781  경기   화성의과학대학교    9.0                           28.6
9782  경기   화성의과학대학교    5.0                           80.0

[9783 rows x 4 columns]

In [ ]:
# college_df['학교명'] = college_df['학교명'].str.split('(').str.get(0).str.strip()
# college_df['학교명']

In [ ]:
college_df

      지역        학교명   총졸업자  취업률(%)\n[B/{A-(C+D+E+F+G)x100
0     경남  가야대학교(김해)  159.0                           82.2
1     경남  가야대학교(김해)   19.0                           52.6
2     경남  가야대학교(김해)   15.0                           83.3
3     경남  가야대학교(김해)   45.0                           83.7
4     경남  가야대학교(김해)   36.0                           82.9
...   ..        ...    ...                            ...
9778  경기   화성의과학대학교   16.0                           56.3
9779  경기   화성의과학대학교    6.0                           83.3
9780  경기   화성의과학대학교   23.0                           52.2
9781  경기   화성의과학대학교    9.0                           28.6
9782  경기   화성의과학대학교    5.0                           80.0

[9783 rows x 4 columns]

In [ ]:
# 학교 합치기 + 취업율 평균
college_df_employee = df.groupby(['학교명'],as_index=False).agg(취업률 = ('취업률(%)\n[B/{A-(C+D+E+F+G)x100','mean')).sort_values('취업률',ascending=False)
college_df_employee

               학교명        취업률
5    가톨릭대학교 _제2캠퍼스  90.100000
151          을지대학교  86.933333
84         목포해양대학교  83.946154
17    건양대학교 _제2캠퍼스  80.377273
195      한국기술교육대학교  79.100000
..             ...        ...
128          아신대학교   0.000000
171        중앙승가대학교   0.000000
155       인천가톨릭대학교   0.000000
6    가톨릭대학교 _제3캠퍼스   0.000000
159       장로회신학대학교   0.000000

[225 rows x 2 columns]

In [ ]:
# 학교별 졸업자 합치기
college_df_graduate = df.groupby(['학교명'],as_index=False).agg(총졸업자 = ('총졸업자','sum')).sort_values('총졸업자',ascending=False)
college_df_graduate

          학교명    총졸업자
32      경희대학교  6093.0
25      경북대학교  5230.0
169     중앙대학교  5184.0
135     영남대학교  4889.0
34      고려대학교  4828.0
..        ...     ...
66    대전신학대학교    26.0
41   광주가톨릭대학교    19.0
64   대전가톨릭대학교    12.0
155  인천가톨릭대학교     8.0
139   영산선학대학교     4.0

[225 rows x 2 columns]

In [ ]:
# college_df_local = df.groupby(['지역'],as_index=False).agg(고학력취업률 = ('취업률(%)\n[B/{A-(C+D+E+F+G)x100','mean')).sort_values('고학력취업률',ascending=False)
# college_df_local

In [ ]:
college_df = pd.merge(college_df_graduate, college_df_employee,  how = 'inner', on = None).sort_values('취업률',ascending=False)
college_df

               학교명   총졸업자        취업률
189  가톨릭대학교 _제2캠퍼스  174.0  90.100000
191          을지대학교  163.0  86.933333
162        목포해양대학교  502.0  83.946154
129   건양대학교 _제2캠퍼스  868.0  80.377273
130      한국기술교육대학교  863.0  79.100000
..             ...    ...        ...
220        대전신학대학교   26.0   0.000000
221       광주가톨릭대학교   19.0   0.000000
222       대전가톨릭대학교   12.0   0.000000
223       인천가톨릭대학교    8.0   0.000000
224        영산선학대학교    4.0   0.000000

[225 rows x 3 columns]

In [ ]:
# college_df_local = df.groupby(['학교명'],as_index=False).agg(지역 = ('지역'))
# college_df_local

In [ ]:
college_df_local

       지역        학교명
0      경남  가야대학교(김해)
1      경남  가야대학교(김해)
2      경남  가야대학교(김해)
3      경남  가야대학교(김해)
4      경남  가야대학교(김해)
...   ...        ...
9779   경기   화성의과학대학교
9780   경기   화성의과학대학교
9781   경기   화성의과학대학교
9782   경기   화성의과학대학교
9783  NaN        NaN

[9784 rows x 2 columns]

In [ ]:
college_df_local

In [ ]:
college_df_local = college_df_local.iloc[:-1]
college_df_local

      지역        학교명
0     경남  가야대학교(김해)
1     경남  가야대학교(김해)
2     경남  가야대학교(김해)
3     경남  가야대학교(김해)
4     경남  가야대학교(김해)
...   ..        ...
9778  경기   화성의과학대학교
9779  경기   화성의과학대학교
9780  경기   화성의과학대학교
9781  경기   화성의과학대학교
9782  경기   화성의과학대학교

[9783 rows x 2 columns]

In [ ]:
# college_df_local['학교명'].unique()

In [ ]:
college_df_local = df.groupby('학교명')['지역']
college_df_local

In [ ]:
college_df_local2 = pd.DataFrame(college_df_local)
college_df_local2

                0                                                  1
0       가야대학교(김해)  0     경남
1     경남
2     경남
3     경남
4     경남
5...
1           가천대학교  12    경기
13    경기
14    경기
15    경기
16    경기
 ...
2        가톨릭관동대학교  75     강원
76     강원
77     강원
78     강원
79    ...
3       가톨릭꽃동네대학교        147    충북
148    충북
Name: 지역, dtype: object
4          가톨릭대학교  149    경기
150    경기
151    경기
152    경기
153   ...
..            ...                                                ...
220         호서대학교  9536    충남
9537    충남
9538    충남
9539    충남
95...
221         호원대학교  9633    전북
9634    전북
9635    전북
9636    전북
96...
222         홍익대학교  9702    서울
9703    서울
9704    서울
9705    서울
97...
223  홍익대학교 _제2캠퍼스  9744    세종
9745    세종
9746    세종
9747    세종
97...
224      화성의과학대학교  9775    경기
9776    경기
9777    경기
9778    경기
97...

[225 rows x 2 columns]

In [ ]:
college_df_local2[0]

0         가야대학교(김해)
1             가천대학교
2          가톨릭관동대학교
3         가톨릭꽃동네대학교
4            가톨릭대학교
           ...
220           호서대학교
221           호원대학교
222           홍익대학교
223    홍익대학교 _제2캠퍼스
224        화성의과학대학교
Name: 0, Length: 225, dtype: object

In [ ]:
college_df_local2[1]

0      0     경남
1     경남
2     경남
3     경남
4     경남
5...
1      12    경기
13    경기
14    경기
15    경기
16    경기
 ...
2      75     강원
76     강원
77     강원
78     강원
79    ...
3            147    충북
148    충북
Name: 지역, dtype: object
4      149    경기
150    경기
151    경기
152    경기
153   ...
                             ...
220    9536    충남
9537    충남
9538    충남
9539    충남
95...
221    9633    전북
9634    전북
9635    전북
9636    전북
96...
222    9702    서울
9703    서울
9704    서울
9705    서울
97...
223    9744    세종
9745    세종
9746    세종
9747    세종
97...
224    9775    경기
9776    경기
9777    경기
9778    경기
97...
Name: 1, Length: 225, dtype: object

In [ ]:
college_df_local2 = ['학교명', '지역']

In [ ]:
college_df_local2

['학교명', '지역']

In [ ]:
college_df_local2.columns = ['학교명', '지역']

In [ ]:
college_df_local2

              학교명                                                 지역
0       가야대학교(김해)                                               [경남]
1           가천대학교  12    경기
13    경기
14    경기
15    경기
16    경기
 ...
2        가톨릭관동대학교  75     강원
76     강원
77     강원
78     강원
79    ...
3       가톨릭꽃동네대학교        147    충북
148    충북
Name: 지역, dtype: object
4          가톨릭대학교  149    경기
150    경기
151    경기
152    경기
153   ...
..            ...                                                ...
220         호서대학교  9536    충남
9537    충남
9538    충남
9539    충남
95...
221         호원대학교  9633    전북
9634    전북
9635    전북
9636    전북
96...
222         홍익대학교  9702    서울
9703    서울
9704    서울
9705    서울
97...
223  홍익대학교 _제2캠퍼스  9744    세종
9745    세종
9746    세종
9747    세종
97...
224      화성의과학대학교  9775    경기
9776    경기
9777    경기
9778    경기
97...

[225 rows x 2 columns]

In [ ]:
area_dict = dict(zip(college_df_local2['학교명'], college_df_local2['지역']))

In [ ]:
area_dict.keys()

dict_keys(['가야대학교(김해)', '가천대학교', '가톨릭관동대학교', '가톨릭꽃동네대학교', '가톨릭대학교', '가톨릭대학교 _제2캠퍼스', '가톨릭대학교 _제3캠퍼스', '감리교신학대학교', '강남대학교', '강릉원주대학교', '강릉원주대학교 _제2캠퍼스', '강서대학교', '강원대학교', '강원대학교 _제2캠퍼스', '건국대학교', '건국대학교(글로컬) _분교', '건양대학교', '건양대학교 _제2캠퍼스', '경기대학교', '경기대학교 _제2캠퍼스', '경남과학기술대학교', '경남대학교', '경동대학교', '경동대학교 _제3캠퍼스', '경동대학교 _제4캠퍼스', '경북대학교', '경상국립대학교', '경성대학교', '경운대학교', '경인교육대학교 _제2캠퍼스', '경일대학교', '경주대학교', '경희대학교', '계명대학교', '고려대학교', '고려대학교(세종) _분교', '고신대학교', '공주교육대학교', '공주대학교', '광신대학교', '광운대학교', '광주가톨릭대학교', '광주과학기술원', '광주교육대학교', '광주대학교', '광주여자대학교', '국민대학교', '군산대학교', '극동대학교', '금강대학교', '금오공과대학교', '김천대학교', '나사렛대학교', '남부대학교', '남서울대학교', '단국대학교', '단국대학교 _제2캠퍼스', '대구가톨릭대학교', '대구경북과학기술원', '대구교육대학교', '대구대학교', '대구예술대학교', '대구한의대학교', '대신대학교', '대전가톨릭대학교', '대전대학교', '대전신학대학교', '대진대학교', '덕성여자대학교', '동국대학교', '동국대학교(WISE) _분교', '동덕여자대학교', '동명대학교', '동서대학교', '동신대학교', '동아대학교', '동양대학교', '동의대학교', '루터대학교', '명지대학교', '명지대학교 _제2캠퍼스', '목원대학교', '목포가톨릭대학교', '목포대학교', '목포해양대학교', '배재대학교', '백석대학교', '부경대학교', '부산가톨릭대학교', '부산교육대학교', '부산대학교', '부산외국어대학교', '부산장신대학교', '삼육대학교', '상명대학교', '상명대학교 _제2캠퍼스', '상지대학교', '서강대학교', '서경대학교', '서울과학기술대학교', '서울교육대학교', '서울기독대학교', '서울대학교', '서울시립대학교', '서울신학대학교', '서울여자대학교', '서울장신대학교', '서울한영대학교', '서원대학교', '선문대학교', '성결대학교', '성공회대학교', '성균관대학교', '성신여자대학교', '세명대학교', '세종대학교', '세한대학교', '송원대학교', '수원가톨릭대학교', '수원대학교', '숙명여자대학교', '순복음총회신학교', '순천대학교', '순천향대학교', '숭실대학교', '신라대학교', '신한대학교', '신한대학교 _제2캠퍼스', '아신대학교', '아주대학교', '안동대학교', '안양대학교', '안양대학교 _제2캠퍼스', '연세대학교', '연세대학교(미래) _분교', '영남대학교', '영남신학대학교', '영산대학교', '영산대학교 _제2캠퍼스', '영산선학대학교', '예수대학교', '예원예술대학교', '예원예술대학교 _제2캠퍼스', '용인대학교', '우석대학교', '우송대학교', '울산과학기술원', '울산대학교', '원광대학교', '위덕대학교', '유원대학교', '을지대학교', '을지대학교 _제2캠퍼스', '이화여자대학교', '인제대학교', '인천가톨릭대학교', '인천가톨릭대학교 _제2캠퍼스', '인천대학교', '인하대학교', '장로회신학대학교', '전남대학교', '전남대학교 _제2캠퍼스', '전북대학교', '전주교육대학교', '전주대학교', '제주국제대학교', '제주대학교', '조선대학교', '중부대학교', '중앙대학교', '중앙대학교 _제2캠퍼스', '중앙승가대학교', '중원대학교', '진주교육대학교', '차의과학대학교', '창신대학교', '창원대학교', '청운대학교', '청주교육대학교', '청주대학교', '초당대학교', '총신대학교', '추계예술대학교', '춘천교육대학교', '충남대학교', '충북대학교', '칼빈대학교', '평택대학교', '포항공과대학교', '한경국립대학교', '한국공학대학교', '한국과학기술원', '한국교원대학교', '한국교통대학교', '한국국제대학교', '한국기술교육대학교', '한국성서대학교', '한국예술종합학교', '한국외국어대학교', '한국전통문화대학교', '한국체육대학교', '한국침례신학대학교', '한국항공대학교', '한국해양대학교', '한남대학교', '한동대학교', '한라대학교', '한려대학교', '한림대학교', '한밭대학교', '한서대학교', '한성대학교', '한세대학교', '한신대학교', '한양대학교', '한양대학교(ERICA) _분교', '한일장신대학교', '협성대학교', '호남대학교', '호남신학대학교', '호서대학교', '호원대학교', '홍익대학교', '홍익대학교 _제2캠퍼스', '화성의과학대학교'])

In [ ]:
for i in college_df_local2.index[1:]:
  temp = college_df_local2.loc[i, '지역']
  for j in temp.index:
    for key in area_dict.keys():
      area_dict[key] = temp[j]

In [ ]:
area_dict

{'가야대학교(김해)': '경기',
 '가천대학교': '경기',
 '가톨릭관동대학교': '경기',
 '가톨릭꽃동네대학교': '경기',
 '가톨릭대학교': '경기',
 '가톨릭대학교 _제2캠퍼스': '경기',
 '가톨릭대학교 _제3캠퍼스': '경기',
 '감리교신학대학교': '경기',
 '강남대학교': '경기',
 '강릉원주대학교': '경기',
 '강릉원주대학교 _제2캠퍼스': '경기',
 '강서대학교': '경기',
 '강원대학교': '경기',
 '강원대학교 _제2캠퍼스': '경기',
 '건국대학교': '경기',
 '건국대학교(글로컬) _분교': '경기',
 '건양대학교': '경기',
 '건양대학교 _제2캠퍼스': '경기',
 '경기대학교': '경기',
 '경기대학교 _제2캠퍼스': '경기',
 '경남과학기술대학교': '경기',
 '경남대학교': '경기',
 '경동대학교': '경기',
 '경동대학교 _제3캠퍼스': '경기',
 '경동대학교 _제4캠퍼스': '경기',
 '경북대학교': '경기',
 '경상국립대학교': '경기',
 '경성대학교': '경기',
 '경운대학교': '경기',
 '경인교육대학교 _제2캠퍼스': '경기',
 '경일대학교': '경기',
 '경주대학교': '경기',
 '경희대학교': '경기',
 '계명대학교': '경기',
 '고려대학교': '경기',
 '고려대학교(세종) _분교': '경기',
 '고신대학교': '경기',
 '공주교육대학교': '경기',
 '공주대학교': '경기',
 '광신대학교': '경기',
 '광운대학교': '경기',
 '광주가톨릭대학교': '경기',
 '광주과학기술원': '경기',
 '광주교육대학교': '경기',
 '광주대학교': '경기',
 '광주여자대학교': '경기',
 '국민대학교': '경기',
 '군산대학교': '경기',
 '극동대학교': '경기',
 '금강대학교': '경기',
 '금오공과대학교': '경기',
 '김천대학교': '경기',
 '나사렛대학교': '경기',
 '남부대학교': '경기',
 '남서울대학교': '경기',
 '단국대학교': '경기',
 '단국대학교 _제2캠퍼스': '경기',
 '대구가톨릭대학교': '경기',
 '대구경북과학기술원': '경기',
 '대구교육대학교': '경기',
 '대구대학교': '경기',
 '대구예술대학교': '경기',
 '대구한의대학교': '경기',
 '대신대학교': '경기',
 '대전가톨릭대학교': '경기',
 '대전대학교': '경기',
 '대전신학대학교': '경기',
 '대진대학교': '경기',
 '덕성여자대학교': '경기',
 '동국대학교': '경기',
 '동국대학교(WISE) _분교': '경기',
 '동덕여자대학교': '경기',
 '동명대학교': '경기',
 '동서대학교': '경기',
 '동신대학교': '경기',
 '동아대학교': '경기',
 '동양대학교': '경기',
 '동의대학교': '경기',
 '루터대학교': '경기',
 '명지대학교': '경기',
 '명지대학교 _제2캠퍼스': '경기',
 '목원대학교': '경기',
 '목포가톨릭대학교': '경기',
 '목포대학교': '경기',
 '목포해양대학교': '경기',
 '배재대학교': '경기',
 '백석대학교': '경기',
 '부경대학교': '경기',
 '부산가톨릭대학교': '경기',
 '부산교육대학교': '경기',
 '부산대학교': '경기',
 '부산외국어대학교': '경기',
 '부산장신대학교': '경기',
 '삼육대학교': '경기',
 '상명대학교': '경기',
 '상명대학교 _제2캠퍼스': '경기',
 '상지대학교': '경기',
 '서강대학교': '경기',
 '서경대학교': '경기',
 '서울과학기술대학교': '경기',
 '서울교육대학교': '경기',
 '서울기독대학교': '경기',
 '서울대학교': '경기',
 '서울시립대학교': '경기',
 '서울신학대학교': '경기',
 '서울여자대학교': '경기',
 '서울장신대학교': '경기',
 '서울한영대학교': '경기',
 '서원대학교': '경기',
 '선문대학교': '경기',
 '성결대학교': '경기',
 '성공회대학교': '경기',
 '성균관대학교': '경기',
 '성신여자대학교': '경기',
 '세명대학교': '경기',
 '세종대학교': '경기',
 '세한대학교': '경기',
 '송원대학교': '경기',
 '수원가톨릭대학교': '경기',
 '수원대학교': '경기',
 '숙명여자대학교': '경기',
 '순복음총회신학교': '경기',
 '순천대학교': '경기',
 '순천향대학교': '경기',
 '숭실대학교': '경기',
 '신라대학교': '경기',
 '신한대학교': '경기',
 '신한대학교 _제2캠퍼스': '경기',
 '아신대학교': '경기',
 '아주대학교': '경기',
 '안동대학교': '경기',
 '안양대학교': '경기',
 '안양대학교 _제2캠퍼스': '경기',
 '연세대학교': '경기',
 '연세대학교(미래) _분교': '경기',
 '영남대학교': '경기',
 '영남신학대학교': '경기',
 '영산대학교': '경기',
 '영산대학교 _제2캠퍼스': '경기',
 '영산선학대학교': '경기',
 '예수대학교': '경기',
 '예원예술대학교': '경기',
 '예원예술대학교 _제2캠퍼스': '경기',
 '용인대학교': '경기',
 '우석대학교': '경기',
 '우송대학교': '경기',
 '울산과학기술원': '경기',
 '울산대학교': '경기',
 '원광대학교': '경기',
 '위덕대학교': '경기',
 '유원대학교': '경기',
 '을지대학교': '경기',
 '을지대학교 _제2캠퍼스': '경기',
 '이화여자대학교': '경기',
 '인제대학교': '경기',
 '인천가톨릭대학교': '경기',
 '인천가톨릭대학교 _제2캠퍼스': '경기',
 '인천대학교': '경기',
 '인하대학교': '경기',
 '장로회신학대학교': '경기',
 '전남대학교': '경기',
 '전남대학교 _제2캠퍼스': '경기',
 '전북대학교': '경기',
 '전주교육대학교': '경기',
 '전주대학교': '경기',
 '제주국제대학교': '경기',
 '제주대학교': '경기',
 '조선대학교': '경기',
 '중부대학교': '경기',
 '중앙대학교': '경기',
 '중앙대학교 _제2캠퍼스': '경기',
 '중앙승가대학교': '경기',
 '중원대학교': '경기',
 '진주교육대학교': '경기',
 '차의과학대학교': '경기',
 '창신대학교': '경기',
 '창원대학교': '경기',
 '청운대학교': '경기',
 '청주교육대학교': '경기',
 '청주대학교': '경기',
 '초당대학교': '경기',
 '총신대학교': '경기',
 '추계예술대학교': '경기',
 '춘천교육대학교': '경기',
 '충남대학교': '경기',
 '충북대학교': '경기',
 '칼빈대학교': '경기',
 '평택대학교': '경기',
 '포항공과대학교': '경기',
 '한경국립대학교': '경기',
 '한국공학대학교': '경기',
 '한국과학기술원': '경기',
 '한국교원대학교': '경기',
 '한국교통대학교': '경기',
 '한국국제대학교': '경기',
 '한국기술교육대학교': '경기',
 '한국성서대학교': '경기',
 '한국예술종합학교': '경기',
 '한국외국어대학교': '경기',
 '한국전통문화대학교': '경기',
 '한국체육대학교': '경기',
 '한국침례신학대학교': '경기',
 '한국항공대학교': '경기',
 '한국해양대학교': '경기',
 '한남대학교': '경기',
 '한동대학교': '경기',
 '한라대학교': '경기',
 '한려대학교': '경기',
 '한림대학교': '경기',
 '한밭대학교': '경기',
 '한서대학교': '경기',
 '한성대학교': '경기',
 '한세대학교': '경기',
 '한신대학교': '경기',
 '한양대학교': '경기',
 '한양대학교(ERICA) _분교': '경기',
 '한일장신대학교': '경기',
 '협성대학교': '경기',
 '호남대학교': '경기',
 '호남신학대학교': '경기',
 '호서대학교': '경기',
 '호원대학교': '경기',
 '홍익대학교': '경기',
 '홍익대학교 _제2캠퍼스': '경기',
 '화성의과학대학교': '경기'}

In [ ]:
test_df = pd.DataFrame.from_dict(area_dict, orient='index')

In [ ]:
test_df

               0
가야대학교(김해)     경기
가천대학교         경기
가톨릭관동대학교      경기
가톨릭꽃동네대학교     경기
가톨릭대학교        경기
...           ..
호서대학교         경기
호원대학교         경기
홍익대학교         경기
홍익대학교 _제2캠퍼스  경기
화성의과학대학교      경기

[225 rows x 1 columns]

In [ ]:
temp_list = set(temp_list)
len(temp_list)

17

In [ ]:
for i in college_df_local2.index:
  college_df_local2.loc[i, '지역2'] = college_df_local2.loc[i, '지역'].split(' ')[2]

college_df_local2

AttributeError: ignored

In [ ]:
college_df_local2.columns

RangeIndex(start=0, stop=2, step=1)